body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.container p a {
    color: #0aa1a6;
}

h1 {
    color: #000;
}

p {
    color: #000;
}