body {
    font-family: Arial, sans-serif;
    background: linear-gradient(To Top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%), url(/3.jpg);
    background-size: cover;
    line-height: 1.6;
    padding: 20px;
}

a {
    text-decoration: underline;
    font-size: 20px;
    color: #0aa1a6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #0aa1a6;
}

p {
    color: #fff;
    font-size: 20px;
}